<!--<div class="home-intro">-->
    <!--<div class="jumbo">{{site.heading}} </div>-->
    <h4>Benvenuti nel melograno digitale</h4>
    <!--<div class="home-sub-text">-->
        <p>Mi chiamo Walter, ho 31 anni, e scrivo. Per guadagnarmi il pane faccio il content writer, scrivo articoli per i blog di aziende tech. Per nutrire l'anima passo ore sui libri.</p>
        <p>Qui è dove condividerò appunti e pensieri.</p>
        <p>Puoi cambiare da modalità chiara a scura (o viceversa) cliccando sull'apposita icona in alto a destra.</p>
        <p>Per cercare tra le mie note clicca <a href="/notes">qui</a>, oppure su "Appunti" in alto a destra.</p>
        <p>Aggiungerò altre categorie mano a mano. Voglio rendere questo sito il nodo centrale da cui si dirama la mia presenza digitale.</p>
<!--</div></div>-->

